table {
    width: 100%;
  }
  
  section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row {
    display: table-cell;
    max-width: 600px;
    position: relative;
    left: 90vw;
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }
  
  .cards-container {
    height: 80vh;
    width: 90vw;
    margin: auto;
  }
  
  .book-card {
    width: fit-content;
    max-width: 320px;
    height: fit-content;
    min-height: 230px;
    display: flex;
    margin: auto;
    align-items: center;
  }
  
  img{
    width: 140px;
    height: 150px;
  }

  .add-book-content{
    height: 100%;
    align-content: center;
    justify-content: center;
  }