<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="toggleDisplay()">Add New Book</button>
  </div>
</section>
<mat-divider></mat-divider>

<!-- Form for adding a new book -->
<div *ngIf="isForm">
  <app-add-book (close)="toggleDisplay()"></app-add-book>
</div>

<!-- Cards Layout -->
<div class="cards-container">
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="16px">
    <mat-grid-tile *ngFor="let book of dataSource">
      <mat-card class="book-card">
        <mat-card-header>
          <img mat-card-image [src]="book.url" alt="{{ book.name }}" />
        </mat-card-header>
        <mat-card-content>
          <mat-card-title>{{ book.name }}</mat-card-title>
          <mat-card-subtitle>Author: {{ book.author }}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
