<div *ngIf="isForm">
  <app-add-book
    (close)="toggleDisplay()"
    [bookToEdit]="selectedBook"
    [index]="pos"
  ></app-add-book>
</div>

<div class="cards-container">
  <mat-grid-list
    [cols]="gridCols"
    rowHeight="1:1.5"
    gutterSize="16px"
    class="responsive-grid"
  >
    <mat-grid-tile *ngFor="let book of dataSource; let i = index">
      <mat-card class="book-card">
        <mat-card-content>
          <div class="img-container">
            <img mat-card-image [src]="book.url" alt="{{ book.name }}" />
          </div>
          <mat-card-title>{{ book.name }}</mat-card-title>
          <mat-card-subtitle>Author: {{ book.author }}</mat-card-subtitle>
          <div class="card-actions">
            <button mat-icon-button class="edit-btn" (click)="editBook(book, i)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="delete-btn" (click)="deleteBook(i)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="book-card add-book-card" (click)="toggleDisplay()">
        <mat-card-content>
          <div class="add-book-content">
            <mat-icon class="add-icon">add_circle</mat-icon>
            <h3>Add New Book</h3>
            <p>Track your reading journey</p>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="dataSource.length === 0" class="no-data-message">
    <mat-icon>menu_book</mat-icon>
    <p>No book recommendations available.</p>
  </div>
</div>
