<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)= "toggleDisplay()" >Add New Book</button>
  </div>
</section>
<mat-divider></mat-divider>

<div *ngIf="isForm">
    <app-add-book (close)="toggleDisplay()"></app-add-book>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.author}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  